<?xml version="1.0"?>
<config>
    <modules>
        <SP_SimpleSlider>
            <version>0.1.0</version>
        </SP_SimpleSlider>
    </modules>
    <global>
        <blocks>
            <sp_simpleslider>
                <class>SP_SimpleSlider_Block</class>
            </sp_simpleslider>
        </blocks>
        <models>
            <sp_simpleslider>
                <class>SP_SimpleSlider_Model</class>
                <resourceModel>sp_simpleslider_resource</resourceModel>
            </sp_simpleslider>
            <sp_simpleslider_resource>
                <class>SP_SimpleSlider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>sp_slider</table>
                    </slider>
                </entities>
            </sp_simpleslider_resource>
        </models>
        <resources>
            <sp_simpleslider_setup>
                <setup>
                    <module>SP_SimpleSlider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sp_simpleslider_setup>
            <sp_events_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sp_events_write>
            <sp_events_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sp_events_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <sp_simpleslider>
                    <file>sp/simpleslider/layout.xml</file>
                </sp_simpleslider>
            </updates>
        </layout>
    </frontend>
</config>